<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.mapper.AllotMapper">
  <resultMap id="BaseResultMap" type="com.car.pojo.Allot">
    <id column="allot_id" jdbcType="INTEGER" property="allotId" />
    <result column="particulars_id" jdbcType="INTEGER" property="particularsId" />
    <result column="uuid" jdbcType="INTEGER" property="uuid" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    allot_id, particulars_id, uuid, sid
  </sql>
  <select id="selectByExample" parameterType="com.car.pojo.AllotExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from allot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from allot
    where allot_id = #{allotId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from allot
    where allot_id = #{allotId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.car.pojo.AllotExample">
    delete from allot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.car.pojo.Allot">
    insert into allot (allot_id, particulars_id, uuid, 
      sid)
    values (#{allotId,jdbcType=INTEGER}, #{particularsId,jdbcType=INTEGER}, #{uuid,jdbcType=INTEGER}, 
      #{sid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.car.pojo.Allot">
    insert into allot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="allotId != null">
        allot_id,
      </if>
      <if test="particularsId != null">
        particulars_id,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="sid != null">
        sid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="allotId != null">
        #{allotId,jdbcType=INTEGER},
      </if>
      <if test="particularsId != null">
        #{particularsId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.car.pojo.AllotExample" resultType="java.lang.Long">
    select count(*) from allot
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update allot
    <set>
      <if test="record.allotId != null">
        allot_id = #{record.allotId,jdbcType=INTEGER},
      </if>
      <if test="record.particularsId != null">
        particulars_id = #{record.particularsId,jdbcType=INTEGER},
      </if>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=INTEGER},
      </if>
      <if test="record.sid != null">
        sid = #{record.sid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update allot
    set allot_id = #{record.allotId,jdbcType=INTEGER},
      particulars_id = #{record.particularsId,jdbcType=INTEGER},
      uuid = #{record.uuid,jdbcType=INTEGER},
      sid = #{record.sid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.car.pojo.Allot">
    update allot
    <set>
      <if test="particularsId != null">
        particulars_id = #{particularsId,jdbcType=INTEGER},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
    </set>
    where allot_id = #{allotId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.car.pojo.Allot">
    update allot
    set particulars_id = #{particularsId,jdbcType=INTEGER},
      uuid = #{uuid,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER}
    where allot_id = #{allotId,jdbcType=INTEGER}
  </update>
</mapper>